.main-title {
    @include font-title;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: var(--main-color);
    text-transform: capitalize;
}
.main-subtitle{
    @include font-subtitle;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: var(--title-text-color);
}