.main-btn {
  box-sizing: border-box;

  justify-content: center;
  align-items: center;
  padding: 8px 32px;

  font-family: var(--title-fonts);

  font-size: 16px;
  line-height: 1.7;

  cursor: pointer;
  
  color: #0c0b08;

  background: var(--main-color);

  border: 1px solid var(--main-color);
}
