:root {
  --bcg-color: #0c0b08;

  --main-color: #dcca87;

  --title-text-color: #ffffff;
  --primary-text-color: #aaaaaa;

  --main-fonts: OpenSans_Condensed-Regular;
  --secondary-fonts: CormorantUpright-SemiBold;
  --title-fonts: CormorantUpright-Bold;

  --CormorantUpright-Regular: CormorantUpright-Regular;
  --OpenSans_SemiCondensed-SemiBold: OpenSans_SemiCondensed-SemiBold;
  --OpenSans_SemiCondensed-SemiBoldItalic: OpenSans_SemiCondensed-SemiBoldItalic;
  --BestermindRegular: BestermindRegular;

  --transition-property: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
