.about {
    margin: auto;
    padding-top: 339px;
    height: 960px;
    background-color: #040404;
    background-image: -webkit-image-set(url("../img/section-bg@2x.avif") 2x,
            url("../img/section-bg.avif") 1x,
            url("../img/section-bg@2x.webp") 2x,
            url("../img/section-bg.webp") 1x,
            url("../img/section-bg@2x.jpg") 2x,
            url("../img/section-bg.jpg") 1x);
    background-image: image-set(url("../img/section-bg@2x.avif") 2x,
            url("../img/section-bg.avif") 1x,
            url("../img/section-bg@2x.webp") 2x,
            url("../img/section-bg.webp") 1x,
            url("../img/section-bg@2x.jpg") 2x,
            url("../img/section-bg.jpg") 1x);
    background-size: cover;
    background-repeat: no-repeat;
    &__wrapper {
        position: relative;
        display: flex;
        gap: 254px;
        &::before {
            position: absolute;
            content: '';

            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            width: 391px;
            height: 703px;

            background-image: -webkit-image-set(url("../img/about-knives@2x.avif") 2x,
                    url("../img/about-knives.avif") 1x,
                    url("../img/about-knives@2x.webp") 2x,
                    url("../img/about-knives.webp") 1x,
                    url("../img/about-knives@2x.png") 2x,
                    url("../img/about-knives.png") 1x),
                -webkit-image-set(url("../img/about-g@2x.avif") 2x,
                    url("../img/about-g.avif") 1x,
                    url("../img/about-g@2x.webp") 2x,
                    url("../img/about-g.webp") 1x,
                    url("../img/about-g@2x.png") 2x,
                    url("../img/about-g.png") 1x);
            background-image: image-set(url("../img/about-knives@2x.avif") 2x,
                    url("../img/about-knives.avif") 1x,
                    url("../img/about-knives@2x.webp") 2x,
                    url("../img/about-knives.webp") 1x,
                    url("../img/about-knives@2x.png") 2x,
                    url("../img/about-knives.png") 1x),
                image-set(url("../img/about-g@2x.avif") 2x,
                    url("../img/about-g.avif") 1x,
                    url("../img/about-g@2x.webp") 2x,
                    url("../img/about-g.webp") 1x,
                    url("../img/about-g@2x.png") 2x,
                    url("../img/about-g.png") 1x);
            background-size: 84px 703px, 391px 415px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    &__inner {
        display: flex;
        flex-direction: column;
        z-index: 1;
        &.left {
            align-items: flex-end;
            text-align: end;
        }
    
        &.right {
            align-items: flex-start;
        }
    }
    &__g {
        position: absolute;
        display: block;
    
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        width: 391px;
        height: 415px;
    }
    &__icon {
        margin-top: 8px;
        &.left {
            transform: rotate(180deg);
        }
    }
    &__text {
        margin-top: 32px;
        max-width: 523px;
        font-family: var(--main-fonts);
        @include font-text;
        color: var(--primary-text-color);
    }
    &__btn {
        margin-top: 32px;
        padding: 8px 28px;
        width: 141px;
    }
}
