.about {
    padding-top: 50px;
    padding-bottom: 50px;
    @media screen and (min-width: 768px) {
        padding-top: 170px;
        padding-bottom: 170px;
    }
    @media screen and (min-width: 1330px) {
    padding-top: 339px;
    padding-bottom: 339px;
    }
    &__wrapper {
        margin: auto;
        position: relative;
        display: flex;
        gap: 50px;
        @media screen and (min-width: 768px) {
            gap: 124px;
        }
        @media screen and (min-width: 1330px) {
            gap: 254px;
        }
        &::before {
            position: absolute;
            content: '';

            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            width: 180px;
            height: 300px;

            background-image: -webkit-image-set(url("../img/about-knives@2x.avif") 2x,
                    url("../img/about-knives.avif") 1x,
                    url("../img/about-knives@2x.webp") 2x,
                    url("../img/about-knives.webp") 1x,
                    url("../img/about-knives@2x.png") 2x,
                    url("../img/about-knives.png") 1x),
                -webkit-image-set(url("../img/about-g@2x.avif") 2x,
                    url("../img/about-g.avif") 1x,
                    url("../img/about-g@2x.webp") 2x,
                    url("../img/about-g.webp") 1x,
                    url("../img/about-g@2x.png") 2x,
                    url("../img/about-g.png") 1x);
            background-image: image-set(url("../img/about-knives@2x.avif") 2x,
                    url("../img/about-knives.avif") 1x,
                    url("../img/about-knives@2x.webp") 2x,
                    url("../img/about-knives.webp") 1x,
                    url("../img/about-knives@2x.png") 2x,
                    url("../img/about-knives.png") 1x),
                image-set(url("../img/about-g@2x.avif") 2x,
                    url("../img/about-g.avif") 1x,
                    url("../img/about-g@2x.webp") 2x,
                    url("../img/about-g.webp") 1x,
                    url("../img/about-g@2x.png") 2x,
                    url("../img/about-g.png") 1x);
            background-size: 21.48% 100%, 100% 59.03%;
            background-repeat: no-repeat;
            background-position: center;
            @media screen and (min-width: 768px) {
                width: 250px;
                height: 450px;
            }
            @media screen and (min-width: 1330px) {
                width: 391px;
                height: 703px;
            }
        }
    }
    &__inner {
        display: flex;
        flex-direction: column;
        z-index: 1;
        &.left {
            align-items: flex-end;
            text-align: end;
        }
    
        &.right {
            align-items: flex-start;
        }
    }
    &__icon {
        margin-top: 8px;
        &.left {
            transform: rotate(180deg);
        }
    }
    &__text {
        margin-top: 32px;
        max-width: 523px;
        font-family: var(--main-fonts);
        @include font-text;
        color: var(--primary-text-color);
    }
    &__btn {
        margin-top: 32px;
        padding: 8px 28px;
        width: 141px;
    }
}
