.awards {
    padding-top: 128px;
    padding-bottom: 128px;
    background-color: var(--bcg-color);
    background-image: 
        linear-gradient(18deg, rgba(4, 4, 4, 0.5) 0%, rgba(4, 4, 4, 0.5) 100%),
        -webkit-image-set(url("../img/section-bg@2x.avif") 2x,
        url("../img/section-bg.avif") 1x,
        url("../img/section-bg@2x.webp") 2x,
        url("../img/section-bg.webp") 1x,
        url("../img/section-bg@2x.jpg") 2x,
        url("../img/section-bg.jpg") 1x);
    background-image: 
        linear-gradient(18deg, rgba(4, 4, 4, 0.5) 0%, rgba(4, 4, 4, 0.5) 100%),
        image-set(url("../img/section-bg@2x.avif") 2x,
        url("../img/section-bg.avif") 1x,
        url("../img/section-bg@2x.webp") 2x,
        url("../img/section-bg.webp") 1x,
        url("../img/section-bg@2x.jpg") 2x,
        url("../img/section-bg.jpg") 1x);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;

    &__wrapper {
        position: relative;
        padding-top: 118.5px;
        padding-bottom: 118.5px;

        z-index: 0;
        &:before {
            margin: auto;
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            display: block;
            height: 100%;
            width: 37.2%;
            
            background-image:
                -webkit-image-set(url("../img/awards-img@2x.avif") 2x,
                    url("../img/awards-img.avif") 1x,
                    url("../img/awards-img@2x.webp") 2x,
                    url("../img/awards-img.webp") 1x,
                    url("../img/awards-img@2x.jpg") 2x,
                    url("../img/awards-img.jpg") 1x);
            background-image:
                image-set(url("../img/awards-img@2x.avif") 2x,
                    url("../img/awards-img.avif") 1x,
                    url("../img/awards-img@2x.webp") 2x,
                    url("../img/awards-img.webp") 1x,
                    url("../img/awards-img@2x.jpg") 2x,
                    url("../img/awards-img.jpg") 1x);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: right;

            z-index: -1;
        }
        &::after {
            position: absolute;
            content: '';
            bottom: 0px;
            right: 15%;
        
            width: 27.69%;
            height: 54.85%;
        
            background-image:
                -webkit-image-set(url("../img/awards-g@2x.avif") 2x,
                    url("../img/awards-g.avif") 1x,
                    url("../img/awards-g@2x.webp") 2x,
                    url("../img/awards-g.webp") 1x,
                    url("../img/awards-g@2x.png") 2x,
                    url("../img/awards-g.png") 1x);
            background-image:
                image-set(url("../img/awards-g@2x.avif") 2x,
                    url("../img/awards-g.avif") 1x,
                    url("../img/awards-g@2x.webp") 2x,
                    url("../img/awards-g.webp") 1x,
                    url("../img/awards-g@2x.png") 2x,
                    url("../img/awards-g.png") 1x);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.9;
        }
    }
    &__icon {
        margin-top: 8px;
    }

    &__title {
        margin-top: 8px;
    }
    &__list {
        margin-top: 64px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 32px;
        row-gap: 64px;
        width: 634px;
    }
    &__item {
        display: flex;
        gap: 32px;
        width: calc((100% - 32px)/2);
        .icon {
            display: block;
            width: 79px;
            height: 79px;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .title {
            @include font-subtitle;
            color: var(--main-color);
        }
        .text {
            width: 190px;
            font-family: var(--main-fonts);
            @include font-text;
            color: var(--primary-text-color);
        }
    }
}