.feedback {
    padding-top: 128px;
    padding-bottom: 128px;
    background-color: var(--bcg-color);
    background-image: 
        linear-gradient(18deg, rgba(4, 4, 4, 0.5) 0%, rgba(4, 4, 4, 0.5) 100%),
        -webkit-image-set(url("../img/section-bg@2x.avif") type("image/avif") 2x,
        url("../img/section-bg.avif") type("image/avif") 1x,
        url("../img/section-bg@2x.webp") type("image/webp") 2x,
        url("../img/section-bg.webp") type("image/webp") 1x,
        url("../img/section-bg@2x.jpg") 2x,
        url("../img/section-bg.jpg") 1x);
    background-image: 
        linear-gradient(18deg, rgba(4, 4, 4, 0.5) 0%, rgba(4, 4, 4, 0.5) 100%),
        image-set(url("../img/section-bg@2x.avif") type("image/avif") 2x,
        url("../img/section-bg.avif") type("image/avif") 1x,
        url("../img/section-bg@2x.webp") type("image/webp") 2x,
        url("../img/section-bg.webp") type("image/webp") 1x,
        url("../img/section-bg@2x.jpg") 2x,
        url("../img/section-bg.jpg") 1x);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;

    &__wrapper {
        position: relative;
        z-index: 0;
    
        &:before {
            margin: auto;
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            display: block;
            
            height: 100%;
            width: 37.2%;
    
            background-image:
                -webkit-image-set(url("../img/awards-img@2x.avif") 2x,
                    url("../img/awards-img.avif") 1x,
                    url("../img/awards-img@2x.webp") 2x,
                    url("../img/awards-img.webp") 1x,
                    url("../img/awards-img@2x.jpg") 2x,
                    url("../img/awards-img.jpg") 1x);
            background-image:
                image-set(url("../img/awards-img@2x.avif") 2x,
                    url("../img/awards-img.avif") 1x,
                    url("../img/awards-img@2x.webp") 2x,
                    url("../img/awards-img.webp") 1x,
                    url("../img/awards-img@2x.jpg") 2x,
                    url("../img/awards-img.jpg") 1x);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: right;
    
            // border: 2px solid rgba(220, 202, 135, 0.2);
            z-index: -1;
        }
    
        &::after {
            position: absolute;
            content: '';
            bottom: 0px;
            right: 15%;

            width: 27.69%;
            height: 54.85%;
    
            background-image:
                -webkit-image-set(url("../img/awards-g@2x.avif") 2x,
                    url("../img/awards-g.avif") 1x,
                    url("../img/awards-g@2x.webp") 2x,
                    url("../img/awards-g.webp") 1x,
                    url("../img/awards-g@2x.png") 2x,
                    url("../img/awards-g.png") 1x);
            background-image:
                image-set(url("../img/awards-g@2x.avif") 2x,
                    url("../img/awards-g.avif") 1x,
                    url("../img/awards-g@2x.webp") 2x,
                    url("../img/awards-g.webp") 1x,
                    url("../img/awards-g@2x.png") 2x,
                    url("../img/awards-g.png") 1x);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.9;
        }
    }
}
.feedback {
    &__form {
        padding-top: 145.5px;
        padding-bottom: 145.5px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        width: 635px;
    }
    &__input {
        padding: 20px 16px;
        width: 100%;
        height: 60px;

        background-color: transparent;
        border: 1px solid #F5EFDB;

        @include font-title($fs: 16px, $lh: 28px, $ls: 0.03em);
        color: var(--title-text-color);

        transition: var(--transition-property);
        &::placeholder {
            color: var(--primary-text-color);
        }
        &:hover,
        &:focus,
        &:active {
            border: 1px solid var(--main-color);
            outline: none;
        }
    }
    &__message {
        height: 140px;

        overflow-y: hidden;
        resize: none;
    }
    &__btn {
        width: 129px;
    }

}
