.find-us {
    padding-top: 50px;
    padding-bottom: 50px;
    
    @media screen and (min-width: 1330px) {
        padding-top: 128px;
        padding-bottom: 128px;
    }
    &__wrapper {
        padding-top: 24px;
        padding-bottom: 24px;

        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (min-width: 768px) {
            justify-content: space-between;
        }
    }
    &__icon {
        margin-top: 8px;
    }
    &__text {
        margin-top: 24px;
        font-family: var(--main-fonts);
        @include font-text;
        color: var(--primary-text-color);
        @media screen and (min-width: 768px) {
            margin-top: 64px;
        }
    }
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (min-width: 768px) {
            align-items: flex-start;
        }
    }
    &__btn {
        margin-top: 64px;
        padding: 8px;
        width: 119px;
    }
    &__image {
        position: relative;
        z-index: 0;
        display: none;
        @media screen and (min-width: 768px) {
            display: block;
        }
        &::before {
            content: '';
    
            position: absolute;
            bottom: -24px;
            left: -24px;
    
            width: 74%;
            height: 59%;
    
            background-color: #DCCA87;
            z-index: -1;
        }
    
        &::after {
            content: '';
    
            position: absolute;
            top: -24px;
            right: -24px;
    
            width: 74%;
            height: 59%;
    
            background-color: #DCCA87;
            z-index: -1;
        }
    }
}
.time {
    &__wrapper {
        margin-top: 32px
    }
    &__title {
        @include font-subtitle;
        color: var(--main-color);
    }
    &__list {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__text {
        font-family: var(--main-fonts);
        @include font-text;
        color: var(--title-text-color);
    }
}