.gallery {
  padding-top: 40px;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  
    @media screen and (min-width: 1330px) {
      padding-top: 120px;
      padding-bottom: 120px;
    }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    overflow: hidden;
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media screen and (min-width: 768px) {
      align-items: flex-start;
      width: 440px;
    }
  }
  &__instagram {
    order: -1;
    @media screen and (min-width: 768px) {
      order: 0;
    }
  }

  &__insta {
    margin-bottom: 8px;

    font-family: var(--title-fonts);

    font-size: 23px;
    line-height: 1.3;

    color: var(--title-text-color);
  }

  &__svg {
    margin-bottom: 24px;

    width: 40px;
    height: 9px;
  }

  &__title {
    margin-bottom: 24px;

    font-family: var(--secondary-fonts);

    font-size: 46px;
    line-height: 1.3;

    color: var(--main-color);

    @media screen and (min-width: 768px) {
      font-size: 32px;
    }
    @media screen and (min-width: 1330) {
      font-size: 64px;
    }
  }

  &__text {
    margin-bottom: 24px;

    font-family: var(--main-fonts);

    font-size: 16px;
    line-height: 1.7;

    color: var(--primary-text-color);
    @media screen and (min-width: 768px) {
      font-size: 12px;
    }
  
    font-size: 16px;
  }
}

.gallery__list {
  display: flex;
}

.gallery__item {
  position: relative;
  &:hover .gallery__link,
  &:focus .gallery__link {
    // transform: translate(-50%, -50%);

    opacity: 1;
  }
}

.gallery__link {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100%;
  height: 100%;

  opacity: 0;

  transform: translate(-50%, -50%);

  transition: opacity var(--transition-property);

  background: linear-gradient(
    207.55deg,
    rgba(0, 0, 0, 0.75) 1.5%,
    rgba(0, 0, 0, 0.64) 98.62%
  );

  & svg {
    position: absolute;

    top: 50%;
    left: 50%;

    fill: var(--title-text-color);

    transform: translate(-50%, -50%);

    transition: fill var(--transition-property);

    width: 45px;
    height: 45px;

    &:hover,
    &:focus {
      fill: var(--main-color);
    }
  }
}

.gallery__item picture {
  display: inline-block;
}
.gallery__item:not(:last-child) {
  margin-right: 32px;
}
