.header {
    background-color: var(--bcg-color);
    &__wrapper {
        margin: auto;
        padding: 32px 120px 32px 120px;

        max-width: 1680px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        position: relative;
        z-index: 1;
    }
}
.logo-link {
    @include font-title($fw: 700, $fs: 44px, $lh: 57px, $ls: 0.04em);
    color: var(--title-text-color);
}
.navigation {
    z-index: 2;
    &__list {
        display: flex;
        align-items: center;
        gap: 32px;
    }
    &__item {
        position: relative;
    }
    &__link {
        display: flex;
        flex-direction: column;
        font-family: var(--main-fonts);
        @include font-text;
        color: var(--title-text-color);
        transition: var(--transition-property);
        position: relative;
        z-index: 3;
        // &::after {
        //     content: '';
        //     border-bottom: 1px solid var(--title-text-color);
        //     width: 100%;
        //     opacity: 0;
        //     transition: var(--transition-property);
        // }

        &:hover,
        &:focus {
            opacity: 0.6;
        }

    }
    &__sublist {
        padding-top: 38px;
        padding-right: 40px;
        position: absolute;
        top: 0px;
        left: 0px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        width: max-content;
        z-index: 2;

        background-color: transparent;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: top;
        transition: var(--transition-property);
        
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -7px;
            height: 100%;
            border-left: 1px solid var(--main-color);
        }
        
        .navigation__item:hover &,
        .navigation__item:focus & {
            opacity: 1;
            transform: scaleY(1);
        }
    }
}
.login-frame {
    display: flex;
    align-items: center;
    gap: 50px;
    &__list {
        display: flex;
        align-items: center;
    }
    &__item {
        font-family: var(--main-fonts);
        @include font-text;
        color: var(--title-text-color);
    }
    &__button {
        border: 0;
        background-color: transparent;

        font-family: var(--main-fonts);
        @include font-text;
        color: var(--title-text-color);
        cursor: pointer;

        &:hover span {
            opacity: 0.6;
        }
        span {
            transition: var(--transition-property);
        }

    }
    &__icon {
        display: block;
        width: 1px;
        height: 57px;
        background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 58.85%, rgba(255, 255, 255, 0) 100%);
        border-image-source: radial-gradient(50% 50% at 50% 50%, #FFFFFF 58.85%, rgba(255, 255, 255, 0) 100%);
        opacity: 0.6;
    }
}