.header {
    background-color: var(--bcg-color);
    &__wrapper {
        margin: auto;
        padding: 5px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        position: relative;
        z-index: 1;

        @media screen and (min-width: 1330px) {
            padding: 32px 120px 32px 120px;
            max-width: 1680px;
        }
    }
}
.logo-link {
    @include font-title($fw: 700, $fs: 44px, $lh: 57px, $ls: 0.04em);
    color: var(--title-text-color);
}
.navigation {
    z-index: 2;
    &__list {
        display: none;
        @media screen and (min-width: 600px) {
            display: flex;
            align-items: center;
            gap: 16px;
        }
        @media screen and (min-width: 1330px) {
            gap: 32px;
        }
        
    }
    &__item {
        position: relative;
    }
    &__link {
        display: flex;
        flex-direction: column;
        font-family: var(--main-fonts);
        @include font-text;
        color: var(--title-text-color);
        transition: var(--transition-property);
        position: relative;
        z-index: 3;

        &:hover,
        &:focus {
            opacity: 0.6;
        }
    }
    &__sublist {
        padding-top: 38px;
        padding-right: 40px;
        
        position: absolute;
        top: 0px;
        left: 0px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        width: max-content;
        z-index: 2;

        background-color: transparent;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: top;
        transition: var(--transition-property);
        
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -7px;
            height: 100%;
            border-left: 1px solid var(--main-color);
        }
        
        .navigation__item:hover &,
        .navigation__item:focus & {
            opacity: 1;
            transform: scaleY(1);
        }
    }
}
.login-frame {
    display: none;
    @media screen and (min-width: 1000px) {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    @media screen and (min-width: 1330px) {
        gap: 50px;
    }
    &__list {
        display: flex;
        align-items: center;
    }
    &__item {
        font-family: var(--main-fonts);
        @include font-text;
        color: var(--title-text-color);
    }
    &__button {
        border: 0;
        background-color: transparent;

        font-family: var(--main-fonts);
        @include font-text;
        color: var(--title-text-color);
        cursor: pointer;

        &:hover span {
            opacity: 0.6;
        }
        span {
            transition: var(--transition-property);
        }

    }
    &__icon {
        display: block;
        width: 1px;
        height: 57px;
        background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 58.85%, rgba(255, 255, 255, 0) 100%);
        border-image-source: radial-gradient(50% 50% at 50% 50%, #FFFFFF 58.85%, rgba(255, 255, 255, 0) 100%);
        opacity: 0.6;
    }
}
.mobile-menu {
    position: fixed;
    top: 0px;
    right: -80px;
    background-color: var(--bcg-color);
    border: 1px solid var(--main-color);
    -webkit-border-radius: 20px;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius: 20px;
    -moz-border-radius-topright: 0;
    border-radius: 20px;
    border-top-right-radius: 0;
    padding: 20px 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: scale(0);
    transform-origin: right top;
    transition: var(--transition-property);
    z-index: 6;

    @media screen and (min-width: 768px) {
        display: none;
    }

    &__close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        border-radius: 5px;
        z-index: 7;
    
        .icon {
            width: 20px;
            height: 20px;
            fill: var(--main-color);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__link {
        @include mobile-font-title($ff: var(--main-fonts));
        color: var(--title-text-color);
        transition: var(--transition-property);
        &:hover,
        &:focus {
            color: var(--main-color);
        }
        .visually-hidden {
            position: absolute !important;
            clip: rect(1px 1px 1px 1px);
            clip: rect(1px, 1px, 1px, 1px);
            padding: 0 !important;
            border: 0 !important;
            height: 1px !important;
            width: 1px !important;
            overflow: hidden;
        }
    }
}
 .is-open {
    transform: scale(1);
    top: 1px;
    right: 3px;
 }


.nav-menu {
    padding: 2px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    @media screen and (min-width: 600px) {
        display: none;
    }
    &__icon {
        width: 30px;
        height: 30px;
        fill: var(--main-color);
    }
}