.hero {
  position: relative;
  padding-bottom: 145px;

  background-color: var(--bcg-color);

  &__hesh {
    position: absolute;

    top: 20%;

    transform: rotate(-0.25turn);
  }

  &__link {
    font-family: var(--main-fonts);

    font-size: 18px;
    line-height: 1.7;

    color: var(--title-text-color);

    transition: all var(--transition-property);

    &:not(:last-child) {
      margin-right: 40px;
    }

    &:hover,
    &:focus {
      color: var(--main-color);
    }
  }
}

.card {
  display: flex;

  padding: 24px;

  background-color: var(--bcg-color);

  &__text {
    width: 453px;

    margin-right: 180px;
  }

  &__appeal {
    margin-bottom: 8px;

    font-family: var(--title-fonts);

    font-size: 23px;
    line-height: 1.3;

    color: var(--title-text-color);
  }

  &__svg {
    display: block;

    width: 40px;
    height: 9px;

    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 32px;

    font-family: var(--title-fonts);

    font-size: 90px;
    line-height: 1.3;

    color: var(--main-color);
  }

  &__description {
    margin-bottom: 32px;

    font-family: var(--main-fonts);

    font-size: 16px;
    line-height: 1.7;

    color: var(--primary-text-color);
  }

  &__overlay {
    position: relative;
    padding: 24px;

    &::after {
      content: " ";
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 10;

      width: 435px;
      height: 435px;

      background-color: var(--main-color);
    }
    &::before {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;

      width: 435px;
      height: 435px;

      background-color: var(--main-color);
    }
  }
  &__img {
    position: relative;
    z-index: 11;

    width: 574px;
    height: 638px;
  }
}
