.menu {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--bcg-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px) {
        padding-top: 70px;
        padding-bottom: 80px;
    }

    @media screen and (min-width: 1330px) {
        padding-top: 139px;
        padding-bottom: 160px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__icon {
        margin-top: 8px;
    }
    &__title {
        margin-top: 8px;
    }
    &__btn {
        margin-top: 73px;
        padding: 8px 24px;
        width: 136px;
        text-align: center;
    }
}
.menu-list {
    position: relative;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
    @media screen and (min-width: 768px) {
        gap: 100px;
        flex-direction: row;
    }

    &::before {
        display: none;
        content: '';
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 33%;
        height: 100%;

        background-image:
            -webkit-image-set(url("../img/menu-img@2x.avif") 2x,
                url("../img/menu-img.avif") 1x,
                url("../img/menu-img@2x.webp") 2x,
                url("../img/menu-img.webp") 1x,
                url("../img/menu-img@2x.jpg") 2x,
                url("../img/menu-img.jpg") 1x);
        background-image:
            image-set(url("../img/menu-img@2x.avif") 2x,
                url("../img/menu-img.avif") 1x,
                url("../img/menu-img@2x.webp") 2x,
                url("../img/menu-img.webp") 1x,
                url("../img/menu-img@2x.jpg") 2x,
                url("../img/menu-img.jpg") 1x);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        @media screen and (min-width: 1330px) {
            display: block;
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
    }
    &__title {
        @include mobile-font-subtitle($fs: 45px, $lh: 58px, $ls: 0.04em);
        color: var(--title-text-color);
        @media screen and (min-width: 768px) {
            @include tablet-font-subtitle($fs: 45px, $lh:58px, $ls: 0.04em);
        }
        @media screen and (min-width: 1330px) {
            @include font-subtitle($fs: 45px, $lh: 58px, $ls: 0.04em);
        }

    }
    &__list {
        margin-top: 48px;
        width: 100%;
    }
    &__item {
        margin-bottom: 41.5px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
    }
    &__subtitle {
        width: 80px;
        @include mobile-font-subtitle;
        color: var(--main-color);
        @media screen and (min-width: 768px) {
            @include tablet-font-subtitle;
            width: 100px;
        }
    
        @media screen and (min-width: 1330px) {
            @include font-subtitle;
            width: 192px;
        }
    }
    &__icon {
        display: block;
        width: 119px;
        height: 2px;
    }
    &__price {
        text-transform: capitalize;
        color: var(--title-text-color);
        font-feature-settings: 'tnum' on, 'lnum' on;
        @include mobile-font-subtitle;
        @media screen and (min-width: 768px) {
            @include tablet-font-subtitle;
        }
        @media screen and (min-width: 1330px) {
            @include font-subtitle;
        }
    }
    &__text {
        margin-top: 8px;
        font-style: var(--main-fonts);
        @include font-text;
        color: var(--primary-text-color);
    }
}