.menu-set {
    padding-top: 40px;
    padding-bottom: 40px;

    background-color: var(--bcg-color);
    background-image:
        linear-gradient(152deg, rgba(12, 12, 12, 0.4) 50%, rgba(12, 12, 12, 0.4) 50%),
        -webkit-image-set(url("../img/menu-set-bg@2x.avif") 2x,
            url("../img/menu-set-bg.avif") 1x,
            url("../img/menu-set-bg@2x.webp") 2x,
            url("../img/menu-set-bg.webp") 1x,
            url("../img/menu-set-bg@2x.jpg") 2x,
            url("../img/menu-set-bg.jpg") 1x);
    background-image:
        linear-gradient(152deg, rgba(12, 12, 12, 0.4) 50%, rgba(12, 12, 12, 0.4) 50%),
        image-set(url("../img/menu-set-bg@2x.avif") 2x,
            url("../img/menu-set-bg.avif") 1x,
            url("../img/menu-set-bg@2x.webp") 2x,
            url("../img/menu-set-bg.webp") 1x,
            url("../img/menu-set-bg@2x.jpg") 2x,
            url("../img/menu-set-bg.jpg") 1x);
    background-size: 600px 300px;
    background-repeat: no-repeat;
    background-position: center;
    @media screen and (min-width: 768px) {
        padding-top: 100px;
        padding-bottom: 100px;
        background-size: 1100px 500px;
    }

    @media screen and (min-width: 1330px) {
        padding-top: 254px;
        padding-bottom: 269px;
        background-size: 1920px 900px;
    }


    &__wrapper {
        position: relative;
        width: 100%;
        max-width: 1610px;
        margin: 0 auto;
        padding-left: 30px;
        padding-right: 30px;
    
    }

    &__list {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 24px;
        max-width: 500px;
        @media screen and (min-width: 768px) {
            gap: 64px;
            max-width: 668px;
        }
        @media screen and (min-width: 1330px) {
            max-width: 1330px;
        }
    }
    &__link {
        position: relative;
        @include mobile-font-title;
        color: var(--title-text-color);
        @media screen and (min-width: 768px) {
            @include tablet-font-title;
        }
    
        @media screen and (min-width: 1330px) {
            @include font-title;
        }
        
        &:hover::after {
                opacity: 1;
            }

        &::after {
            position: absolute;
            bottom: 0;
            left: 0;

            content: '';
            display: block;
            width: 100%;

            border: 2px solid var(--title-text-color);
            transition: var(--transition-property);
            opacity: 0;
        }
    }
    &__logo {
        position: absolute;
        top: -60px;
        left: 0px;
    
        display: block;
        width: 60px;
        height: 60px;
    
        @media screen and (min-width: 768px) {
            width: 73px;
            height: 73px;
        }
    
        @media screen and (min-width: 1330px) {
            width: 146px;
            height: 146px;
            top: -276px;
        }
    }
}