.pages-hero {
    padding-top: 254px;
    padding-bottom: 254px;
    background-color: var(--bcg-color);
    background-image: 
        linear-gradient(152deg, rgba(12, 11, 8, 0.5) 50%, rgba(12, 11, 8, 0.5) 50%),
        -webkit-image-set(
        url("../img/pages-hero@2x.avif") 2x,
        url("../img/pages-hero.avif") 1x,
        url("../img/pages-hero@2x.webp") 2x,
        url("../img/pages-hero.webp") 1x,
        url("../img/pages-hero@2x.jpg") 2x,
        url("../img/pages-hero.jpg") 1x
    );
    background-image:
        linear-gradient(152deg, rgba(12, 11, 8, 0.5) 50%, rgba(12, 11, 8, 0.5) 50%),
        image-set(
        url("../img/pages-hero@2x.avif") 2x,
        url("../img/pages-hero.avif") 1x,
        url("../img/pages-hero@2x.webp") 2x,
        url("../img/pages-hero.webp") 1x,
        url("../img/pages-hero@2x.jpg") 2x,
        url("../img/pages-hero.jpg") 1x
        );
  background-size: 1920px ;
  background-repeat: no-repeat;
  background-position: center;

    &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    &__title {
    color: var(--main-color);
    text-align: center;
    @include font-subtitle($fs: 90px, $lh: 117px, $ls: 3.6px);
    text-transform: capitalize;
    }
    &__list {
        display: flex;
        gap: 8px;
    }
    &__item {
        
        display: flex;
        align-items: center;
        gap: 8px;
        &::after {
            content: url(../img/icons.svg#arrow-right);
            padding: 5px;
            display: block;
            width: 24px;
            height: 24px;
        }
        &:nth-last-child(1) {
            &::after {
                display: none;
            }
        }
    }
    &__link {
        color: var(--title-text-color);
        @include font-subtitle;
    }
}